.row
    //- Side menu, TODO collapse on mobile
    .col-md-3
        +menu
    //- Post list
    .col-md-6
        +post_list
    //- Who's online, social bar, TODO collapse on mobile
    .col-md-3
        +social_bar
